.container{
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.clearfix:after{
  content:'';
  display:block;
  clear: both;
}
input{
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}